data
results
secrets
__pycache__/
cache/
pretrain/
VOCdevkit2007/
logs/
logs_*/
output/
build/
dist/
checkpoints/
checkpoints_*/
*.ipynb_checkpoints/
.idea/
*.py[cod]
*.c[cod]
*.so
*.swp
*.pb
*.ckpt
*.DS_Store
*.h5
