tqdm==4.11.2
Shapely==1.6.4.post1
matplotlib==1.5.3
ipython==5.1.0
absl-py==0.7.1
astor==0.8.0
Cython==0.24.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
imutils==0.5.2
markdown==3.1.1
numpy==1.14.5
pillow==6.1.0
pytesseract==0.2.7
setuptools==41.0.1
six==1.12.0
tensorflow==2.9.3
# tensorflow-gpu==1.4.0
keras-applications==1.0.8
keras-preprocessing==1.1.0
opencv-python==3.4.0.12
termcolor==1.1.0
werkzeug==0.15.5
wrapt==1.11.2
# protobuf==3.9.0
